@keyframes glowing {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide {
    from {
        transform: scale(1);
        transform-origin: center right;
    }
    to {
        transform: scale(1.05);
        transform-origin: center right;
    }
}
