@import 'variables.scss';

body {
    margin: 0 auto;
    max-width: 1200px;
}

.app-body-preload * {
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s,
        padding 0s, margin 0s !important;
}

h1,
h2,
h3 {
    text-align: center;
    font-style: normal;
}

h2,
p,
.app-header__nav,
.app-footer {
    font-family: Source Sans Pro;
}

h1 {
    font-family: Oswald;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
}

h2 {
    font-size: 24px;
    line-height: 32px;
    margin-top: 30px;
}

p {
    color: $light-grey-text;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
}

button {
    cursor: pointer;
    background-color: $blue;
    font-family: Oswald;
    margin: 50px auto;
    text-transform: uppercase;
}

a:-webkit-any-link {
    text-decoration: none;
}
