@import 'variables.scss';

.app-footer {
    background-color: $footer-background;
    box-sizing: border-box;
    height: 199px;
    padding: 37px 140px 0 153px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);

    &* {
        margin: 0;
        padding: 0;
    }

    &__container {
        align-self: start;
        grid-column: 1/2;
        grid-row: 1/2;
        justify-content: start;
        align-items: center;
        display: flex;

        &-item-home {
            color: $white-text;
            font-size: 18px;
            font-style: normal;
            text-transform: uppercase;
            font-weight: normal;
            letter-spacing: 0.2em;
            padding-left: 16px;
        }
    }

    &__contacts {
        color: $footer-text;
        align-self: start;
        justify-self: start;
        grid-column: 3/5;
        grid-row: 1/2;
    }

    &__e-mail-link {
        color: $footer-text;
    }

    &__e-mail {
        align-self: start;
        grid-column: 3/5;
        grid-row: 2/3;
    }

    &__copyright {
        color: $footer-text;
        justify-self: end;
        grid-column: 6/8;
        grid-row: 2/3;
    }

    &.contacts,
    &.copyright,
    footer a:-webkit-any-link {
        font-size: 16px;
        font-style: normal;
        font-weight: normal;
        line-height: 22px;
    }
}
