@import 'variables.scss';

@media (max-width: 768px) {
    nav.container {
        padding: 50px 30px 0 30px;
    }

    .show-menu {
        display: none;
    }

    .app-header__nav-menu-button {
        display: block;
    }

    .headline {
        padding: 65px 23px 116px 27px;
    }

    .headline h1,
    .headline h2,
    .headline p {
        text-align: left;
    }

    .headLine_container {
        display: block;
        width: 100%;
        margin-top: 15px;
    }

    .headLine_container p {
        padding-right: 0;
        padding-left: 0;
        padding-top: 35px;
    }

    .headline button {
        display: inline;
        margin: 50px 0 0 0;
    }

    .learn-more button {
        height: 100px;
        width: 100px;
        font-size: 45px;
        padding-left: 20px;
        margin-bottom: 82px;
    }

    .learn-more h1 {
        padding-top: 72px;
    }

    .learn-more button {
        margin-top: 91px;
    }

    footer {
        height: 290px;
    }

    .grid-container {
        display: block;
        margin: 0 auto;
        padding: 58px 0 75px 0;
        text-align: center;
    }

    .project-logo {
        justify-content: center;
    }

    .contacts {
        margin-top: 31px;
    }

    .e-mail {
        margin-top: 18px;
        margin-bottom: 19px;
    }
}
