$hero-header2: #ffffffb2;
$blue: #55c2d8;
$dark-grey-text: #464547;
$light-grey-text: #666666;
$white-text: #ffffff;
$footer-text: rgba(255, 255, 255, 0.4);
$footer-background: #464547;
$main-background: #eeeeee;
$main-overlap: rgba(140, 79, 42, 0.3);
